footer#colophon {
	padding-top: rem-calc(66);
	background-color: $color-dark-green;
	color: $white;
	a:not(.button) {
		color: $white;
	}
	.logo-wrap {
		margin-bottom: rem-calc(44);
	}
	
	.left {
		padding-bottom: 1.9rem;
		.bottom {
			@include breakpoint(medium) {
				padding-top: 5rem;
			}
		}
	}
		
	ul#footer-links {
		padding-bottom: 2rem;
		li {
			margin-bottom: 1.21rem;
			a {
				font-size: rem-calc(18);
				color: $white;
				line-height: 1;
				font-weight: 500;
				padding: 0;
			}
		}
	}
	
	.donate-link-wrap {
		padding-bottom: 2.98rem;
		@include breakpoint(small down) {
			padding-top: 2.4rem;
		}
	}
	
	.utility-nav {
		flex-direction: column;
		>li {
			margin: 0 0 1.15rem;
		
			> a {
				font-family: $font-header;
				font-size: rem-calc(14);
				color: $white;
				text-transform: uppercase;
				letter-spacing: .07em;
				padding: 0;				
			&:hover {
			
			}
				
			}	
		}
	}
	
	.social-links {
		>li {
			margin: 0 2rem 2rem 0;
			display: inline-flex;
			align-items: center;
		
			> a {
				padding: 0;		
				transition: opacity .25s ease;
				&:hover {
					opacity: .5;
				}				
			}	
		}
	}
	
	.a-logos {
		.img-wrap {
			margin-bottom: $smallGutter;
			@include breakpoint(medium) {
				margin-bottom: $mediumGutter;
			}
		}
	}
	
}