/************************************************

Stylesheet: Global Stylesheet

*************************************************/
.screen-reader-text {
	border: 0;
	clip: rect(1px, 1px, 1px, 1px);
	-webkit-clip-path: inset(50%);
	clip-path: inset(50%);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px;
	word-wrap: normal !important;
}
/*********************
BACKGROUND COLORS
*********************/

/*********************
RE-USED ELEMENTS
*********************/
svg {
	max-width: 100%;
	height: auto;
}

.has-bg {
	position: relative;
	.bg {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		background-repeat: no-repeat;
	}
}

.relative {
	position: relative;
}

button,
.button {
	margin: 0;
	&:hover {
		color: $color-blue;
		background-color: $white;
	}
	&.small {
		padding: 0.5715em 1.1645em;
	}
	&.large {
		
	}
	&.tan {
		background-color: $color-tan;
		border-color: $color-tan;
		color: $color-dark-brown;
		&:hover {
			background-color: $color-dark-brown;
			color: $color-tan;
		}
	}
}

.download-link {
	display: inline-flex;
	align-items: center;
	position: relative;
	&:before {
		content: '';
		display: block;
		position: absolute;
		width: 24px;
		height: 24px;
		background-image: url("data:image/svg+xml;charset=utf8,%3C?xml version='1.0' encoding='UTF-8'?%3E%3Csvg width='25px' height='25px' viewBox='0 0 25 25' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Ctitle%3Edownload_FILL0_wght300_GRAD0_opsz24%3C/title%3E%3Cg id='Page-1' stroke='none' stroke-width='1' fill='none' fill-rule='evenodd'%3E%3Cg id='download_FILL0_wght300_GRAD0_opsz24' transform='translate(0.500025, 0.500025)' fill='%23476882' fill-rule='nonzero'%3E%3Cpath d='M11.999975,17.4584218 C11.8071481,17.4584218 11.6276679,17.4276485 11.4615343,17.3661017 C11.2953741,17.3045816 11.1374273,17.1989415 10.9876937,17.0491813 L6.01232752,12.0738551 C5.77438055,11.8359081 5.65695374,11.5574544 5.65998753,11.238494 C5.66311375,10.9195336 5.78054056,10.6359466 6.01232752,10.387733 C6.26054116,10.139546 6.54566152,10.0113458 6.86768858,10.0031325 C7.18974232,9.99491916 7.47487601,10.1149193 7.72308965,10.363133 L10.8000135,13.4400568 L10.8000135,1.2000015 C10.8000135,0.859494408 10.9148803,0.574374051 11.1446139,0.344640431 C11.3743476,0.114880144 11.6594679,0 11.999975,0 C12.3404821,0 12.6256024,0.114880144 12.8553361,0.344640431 C13.0850697,0.574374051 13.1999365,0.859494408 13.1999365,1.2000015 L13.1999365,13.4400568 L16.2768603,10.363133 C16.5148073,10.125186 16.7973677,10.0077458 17.1245414,10.0108125 C17.4517151,10.0139059 17.7394088,10.139546 17.9876225,10.387733 C18.2194094,10.6359466 18.3393963,10.9169736 18.3475829,11.230814 C18.3557963,11.5446544 18.2358095,11.8256681 17.9876225,12.0738551 L13.0122563,17.0491813 C12.8625227,17.1989415 12.7045759,17.3045816 12.5384157,17.3661017 C12.3722821,17.4276485 12.1928019,17.4584218 11.999975,17.4584218 Z M2.89232362,23.99995 C2.08410927,23.99995 1.40000175,23.7199496 0.84000105,23.1599489 C0.28000035,22.5999482 1.1368698e-15,21.9158407 1.1368698e-15,21.1076264 L1.1368698e-15,17.9691825 C1.1368698e-15,17.6286754 0.114880144,17.343555 0.344640431,17.1138214 C0.574374051,16.8840878 0.859494408,16.769221 1.2000015,16.769221 C1.54050859,16.769221 1.82562895,16.8840878 2.05536257,17.1138214 C2.28509619,17.343555 2.399963,17.6286754 2.399963,17.9691825 L2.399963,21.1076264 C2.399963,21.2307199 2.45124306,21.34356 2.55380319,21.4461468 C2.65638999,21.5487069 2.76923013,21.599987 2.89232362,21.599987 L21.1076264,21.599987 C21.2307199,21.599987 21.34356,21.5487069 21.4461468,21.4461468 C21.5487069,21.34356 21.599987,21.2307199 21.599987,21.1076264 L21.599987,17.9691825 C21.599987,17.6286754 21.7148538,17.343555 21.9445874,17.1138214 C22.1743211,16.8840878 22.4594414,16.769221 22.7999485,16.769221 C23.1404556,16.769221 23.4255759,16.8840878 23.6553096,17.1138214 C23.8850699,17.343555 23.99995,17.6286754 23.99995,17.9691825 L23.99995,21.1076264 C23.99995,21.9158407 23.7199496,22.5999482 23.1599489,23.1599489 C22.5999482,23.7199496 21.9158407,23.99995 21.1076264,23.99995 L2.89232362,23.99995 Z' id='Shape'%3E%3C/path%3E%3C/g%3E%3C/g%3E%3C/svg%3E");

		background-size: 24px;
		background-repeat: no-repeat;
		margin-right: 10px;
	}
	a {
		padding-left: 2rem;
	}
}

.cta-link {
	display: inline-flex;
	align-items: center;
	position: relative;
	&:after {
		content: '';
		display: block;
		position: absolute;
		right: 0;
		width: 16px;
		height: 12px;
		background-image: url("data:image/svg+xml;charset=utf8,%3C?xml version='1.0' encoding='UTF-8'?%3E%3Csvg width='16px' height='12px' viewBox='0 0 16 12' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Cg id='Page-1' stroke='none' stroke-width='1' fill='none' fill-rule='evenodd'%3E%3Cg id='arrow_right_alt_FILL0_wght300_GRAD0_opsz24' transform='translate(0.500025, 0.663228)' fill='%23FFFFFF' fill-rule='nonzero'%3E%3Cpath d='M12.11155,6.08674663 L0.75,6.08674663 C0.537183333,6.08674663 0.358983333,6.01495496 0.2154,5.87137163 C0.0718,5.7277883 0,5.5495883 0,5.33677163 C0,5.12395496 0.0718,4.94575496 0.2154,4.80217163 C0.358983333,4.6585883 0.537183333,4.58679663 0.75,4.58679663 L12.11155,4.58679663 L8.8192,1.29444663 C8.67048333,1.14572996 8.59709167,0.971696631 8.599025,0.772346631 C8.60094167,0.572996631 8.67433333,0.395754964 8.8192,0.240621631 C8.97433333,0.0855049639 9.15253333,0.00537996395 9.3538,0.000246630616 C9.55508333,-0.00488670272 9.73328333,0.0701132973 9.8884,0.225246631 L14.36725,4.70409663 C14.4608333,4.79767996 14.5268583,4.89639663 14.565325,5.00024663 C14.6037917,5.10407996 14.623025,5.21625496 14.623025,5.33677163 C14.623025,5.4572883 14.6037917,5.5694633 14.565325,5.67329663 C14.5268583,5.77714663 14.4608333,5.8758633 14.36725,5.96944663 L9.8884,10.4482966 C9.7397,10.5970133 9.56310833,10.6704133 9.358625,10.6685332 C9.15414167,10.6665633 8.97433333,10.5880383 8.8192,10.4329216 C8.67433333,10.2777883 8.59933333,10.1021466 8.5942,9.90599663 C8.58908333,9.70984663 8.66408333,9.5342133 8.8192,9.37909663 L12.11155,6.08674663 Z' id='Path' fill='%23d82682'%3E%3C/path%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
		transform: translateX(-8px);
		transition: .3s ease;
	}
	a {
		padding-right: 1.85rem;
		position: relative;
		z-index: 1;
	}
	&:hover:after {
		transform: translateX(0px);
	}
}

/*********************
POSTS & CONTENT STYLES
*********************/
.page-title {
	
	// Remove Foundation vcard styling from author page titles
	.vcard {
		border: 0px;
		padding: 0px;
	}
}

// Post meta  
.byline {
	color: #999;
	time {}
}

// Entry content  
.entry-content {
	
	img {
		max-width: 100%;
		height: auto;
	}

	.alignleft, img.alignleft { 
		margin-right: 1.5em; 
		display: inline; 
		float: left; 
	}
	.alignright, img.alignright { 
		margin-left: 1.5em; 
		display: inline; 
		float: right; 
	}
	.aligncenter, img.aligncenter { 
		margin-right: auto; 
		margin-left: auto; 
		display: block; 
		clear: both; 
	}
			
	video, object {
		max-width: 100%;
		height: auto;
		}

	pre {
		background: #eee;
		border: 1px solid #cecece;
		padding: 10px;
		}

} 

.wp-caption {
	max-width: 100%;
	background: #eee;
	padding: 5px;

	// Images inside wp-caption  
	img,
	svg {
		max-width: 100%;
		margin-bottom: 0;
		width: 100%;
	}

	p.wp-caption-text {
		font-size: 0.85em;
		margin: 4px 0 7px;
		text-align: center;
	}
} 

// Add Foundation styling to password protect button
.post-password-form input[type="submit"] {
	@include button;
}

/*********************
IMAGE GALLERY STYLES
*********************/
.gallery {
	max-width: 100%;
	margin-left: auto;
	margin-right: auto;
	margin-right: -15px;
	margin-left: -15px; 
}
.gallery::before, .gallery::after {
	content: ' ';
	display: table; 
}
.gallery::after {
	clear: both; 
}
.gallery.gallery-columns-1 > dl {
	@include grid-column;
}
.gallery.gallery-columns-2 > dl {
	@include grid-column(1 of 2);
}
.gallery.gallery-columns-3 > dl {
	@include grid-column(1 of 3);
}
.gallery.gallery-columns-4 > dl {
	@include grid-column(1 of 4);
}
.gallery.gallery-columns-5 > dl {
	@include grid-column(1 of 5);
}
.gallery.gallery-columns-6 > dl {
	@include grid-column(1 of 6);
}
.gallery.gallery-columns-7 > dl {
	@include grid-column(1 of 7);
}
.gallery.gallery-columns-8 > dl {
	@include grid-column(1 of 8);
}
.gallery dl {
	width: 100%;
	float: left;
	padding-left: 0.9375rem;
	padding-right: 0.9375rem; 
}
.gallery dl:last-child:not(:first-child) {
  float: right; 
 }

// Gallery caption styles
.gallery-caption {}
.size-full {}
.size-large {}
.size-medium {}
.size-thumbnail {}

/*********************
PAGE NAVI STYLES
*********************/
.page-navigation {
	margin-top: 1rem;
}

/*********************
COMMENT STYLES
*********************/
#comments {
	.commentlist {
		margin-left: 0px;
	}
}

#respond {
	ul {
		margin-left: 0px;
	}
}

.commentlist {
	li {
		position: relative;
		clear: both;
		overflow: hidden;
		list-style-type: none;
		margin-bottom: 1.5em;
		padding: 0.7335em 10px;

		&:last-child {
			margin-bottom: 0;
		}

		ul.children {
			margin: 0;

			li {}

			.comment {}
			.alt {}
			.odd {}
			.even {}
			.depth-1 {}           // Change number for different depth  
			.byuser {}
			.bypostauthor {}
			.comment-author-admin {}

		}
	}

	li[class*=depth-] {
		margin-top: 1.1em;
	}

	li.depth-1 {
		margin-left: 0;
		margin-top: 0;
	}

	li:not(.depth-1) {
		margin-left: 10px;
		margin-top: 0;
		padding-bottom: 0;
	}

	li.depth-2 {}
	li.depth-3 {
	}
	li.depth-4 {}
	li.depth-5 {}

	// General comment classes  
	.alt {}
	.odd {
	}
	.even {
	}
	.parent {}
	.comment {}
	.children {}
	.pingback {}
	.bypostauthor {}
	.comment-author {}
	.comment-author-admin {}
	.thread-alt {}
	.thread-odd {}
	.thread-even {}

	// vcard  
	.vcard {
		margin-left: 50px;

		cite.fn {
			font-weight: 700;
			font-style: normal;

			a.url {}

		}

		time {
			float: right;

			a {
				color: #999;
				text-decoration: none;

				&:hover {
					text-decoration: underline;
				}

			}

		}

		img.photo {}

		img.avatar {
			position: absolute;
			left: 10px;
			padding: 2px;
			border: 1px solid #cecece;
			background: #fff;
		}

	} // end .commentlist .vcard  


	// comment meta  
	.comment-meta {

		a {}

	}

	.commentmetadata {

		a {}

	}

	// comment content  
	.comment_content {

		p {
			margin: 0.7335em 0 1.5em;
			font-size: 1em;
			line-height: 1.5em;
		}

	} // end .commentlist .comment_content  

	// comment reply link  
	.comment-reply-link {
		float: right;

		&:hover,
		&:focus {
		
		}

	} // end .commentlist .comment-reply-link  

} // end .commentlist  

/*********************
COMMENT FORM STYLES
*********************/
.respond-form {
	margin: 1.5em 10px;
	padding-bottom: 2.2em;

	form {
		margin: 0.75em 0;

		li {
			list-style-type: none;
			clear: both;
			margin-bottom: 0.7335em;

			label,
			small {
				display: none;
			}
		}

		input[type=text],
		input[type=email],
		input[type=url],
		textarea {
			padding: 3px 6px;
			background: #efefef;
			border: 2px solid #cecece;
			line-height: 1.5em;

			&:focus {
				background: #fff;
			}

			// form validation  
			&:invalid {
				outline: none;
				border-color: #fbc2c4;
				background-color: #f6e7eb;
				-webkit-box-shadow: none;
				   -moz-box-shadow: none;
				    -ms-box-shadow: none;
						box-shadow: none;
			}
		}

		input[type=text],
		input[type=email],
		input[type=url] {
			max-width: 400px;
			min-width: 250px;
		}

		textarea {
			resize: none;
			width: 97.3%;
			height: 150px;
		}

	}
}

// comment form title  
#comment-form-title {
	margin: 0 0 1.1em;
}

// cancel comment reply link  
#cancel-comment-reply {
	a {}
}

// logged in comments  
.comments-logged-in-as {}

// allowed tags  
#allowed_tags {
	margin: 1.5em 10px 0.7335em 0;
}

// No comments  
.nocomments {
	margin: 0 20px 1.1em;
}

/*********************
SIDEBARS & ASIDES
*********************/
.sidebar {
	li{
		list-style: none;
	}
}

.widget {
	ul {
		margin: 0;
	}
}
/*********************
FOOTER STYLES
*********************/
.footer {
	clear: both;
	margin-top: 1em;
}
	
/*********************
VISUAL EDITOR STYLES
*********************/
// Makes content look better in visual editor
body#tinymce {
   	margin: 20px;
}

/*********************
PLUGIN STYLES
*********************/
// Makes Gravity Forms play nice with Foundation Form styles
.gform_body ul {
    list-style: none outside none;
    margin: 0;
}

// Hide Gravity Forms validation fields when GFCSS is disabled
.gform_validation_container,
.gform_wrapper .gform_validation_container,
body .gform_wrapper li.gform_validation_container,
body .gform_wrapper .gform_body ul.gform_fields li.gfield.gform_validation_container,
body .gform_wrapper ul.gform_fields li.gfield.gform_validation_container {
    display: none !important;
    position: absolute !important;
    left: -9000px;
}
