.blog,
.archive {
	main {
		padding-bottom: 3.28rem;
	}
	h1 {
		margin-bottom: 1.64em;
	}
	main {
		> .grid-container {
			padding-top: rem-calc(53);
		}
	}
	.cat-links {
		padding-bottom: .42rem;
		li {
			margin-bottom: calc($smallGutter * .5);
			@include breakpoint(medium) {
				margin-bottom: calc($mediumGutter * .5);
			}
			a.active {
				text-decoration: underline;
			}
		}
	}
	.page-navigation {
		li {
			display: inline-flex;
			align-items: center;
			margin: .5rem;
			a {
				text-decoration: underline;
			}
			span,
			a {
				padding: .2em;
			}
			a.prev,
			span.prev,
			&.prev {
				svg {
					transform: rotate(180deg);
				}
			}	

			a {
				&.prev,
				&.next {
					display: inline-flex;
					align-items: center;
				}
			}	
			span.prev,
			span.next {
				display: inline-flex;
				align-items: center;
				opacity: 24.85%;
			}
		}
	}
}

article.post,
article.event-cpt {
	margin-bottom: rem-calc(40);	
	&:last-of-type {
		margin-bottom: 1.75rem;
	}
	h2 {
		margin-bottom: rem-calc(14);
	}
	a:hover {
		h2 {
			text-decoration: underline;
		}
		svg {
			transform: translateX(24px);
		}
	}
	// a:not(.button) {
	// 	color: $color-brown;
	// 	.entry-header {
	// 		padding-top: 1rem;
	// 	}
	// 	.date {
	// 		padding-bottom: 0.6rem;
	// 		&:not(.color-white) {
	// 			color: $color-dark-brown;
	// 		}
	// 	}
	// 	.h3 {
	// 		margin-bottom: .5em;
	// 	}
	// 	svg {
	// 		transition: transform .35s ease;
	// 		path {
	// 			transition: .25s ease;
	// 		}
	// 	}
	// 	&:hover {
	// 		.h3 {
	// 			text-decoration: underline;
	// 		}
	// 		svg {
	// 			transform: translateX(23px);
	// 			path {
	// 				fill: $color-red;
	// 			}
	// 		}
	// 	}
	// }

}

article.post {
	.img-wrap .inner {
		@include breakpoint(mobile down) {
			margin-bottom: rem-calc(15.5);
		}
	}
}

article.event-cpt {
	.date {
		margin-bottom: .64rem;
		@include breakpoint(mobile down) {
			padding-top: 1rem;
		}
	}
}