h1,
.h1 {
	font-size: clamp(2rem, 1.63rem + 1.848vw, 3rem);
	color: $color-dark-green;
}

// h2,
// .h2 {
// 	font-size: clamp(1.575rem, 1.281rem + 1.308vw, 2.25rem);
// }

h2,
.h2 {
	font-size: clamp(1.375rem, 0.959rem + 2.079vw, 2.5rem);
}

h3,
.h3 {
	font-size: clamp(1.125rem, 0.986rem + 0.693vw, 1.5rem);
}

h4,
.h4 {
	font-size: clamp(1.125rem, 1.079rem + 0.231vw, 1.25rem);
}

p,
.p,
ul,
ol {
	margin-bottom: .92em;
	font-size: 1rem;
	font-size: clamp(1rem, 0.926rem + 0.37vw, 1.2rem);
	@include breakpoint(medium) {
		font-size: 1.2rem;
		font-size: clamp(1rem, 0.926rem + 0.37vw, 1.2rem);
	}
}

.font-header {
	font-family: $font-header;
}

.font-body {
	font-family: $font-body;
}

.color-white {
	color: $white;
}

.color-blue {
	color: $color-blue;
}

.color-green {
	color: $color-green;
}

.color-dark-green {
	color: $color-dark-green;
}

.color-tan {
	color: $color-tan;
}

.color-brown {
	color: $color-brown;
}

.color-dark-brown {
	color: $color-dark-brown;
}

.color-red {
	color: $color-red;
}

.small-14 {
	font-size: rem-calc(14.4);	
}

.weight-medium {
	font-weight: 500;
}

.weight-semibold {
	font-weight: 600;
}

.uppercase {
	text-transform: uppercase;
}