// Fonts
$font-header: 'fields', serif;
$font-body: 'indivisible', 'Helvetica Neue', Helvetica, Roboto, Arial, sans-serif;
// Colors
$color-dark-green: #185100;
$color-green: #5C8000;
$color-blue: #476882;
$color-border-blue: #80A6BF;
$color-red: #9E4541;
$color-dark-brown: #483627;
$color-brown: #8B7751;
$color-tan: #D0AE73;

$mobile-ratio: .666;