.home-hero {
	overflow: hidden;
	> .grid-container {
		> .grid-x {
			@include breakpoint(large) {
				min-height: 600px;
				min-height: clamp(32.5rem, 30.652rem + 9.238vw, 37.5rem);
			}
		}
	}
	.left {
		@include breakpoint(medium down) {
			padding: rem-calc(29) rem-calc(32) rem-calc(40);
		}
		@include breakpoint(tablet) {
			padding-top: rem-calc(40);
			padding-bottom: rem-calc(40);
		}
		@media (min-width: 1440px) {
			position: relative;
			left: -1.2rem;
		}
		@media (min-width: 1600px) {
			left: -4vw;
		}
	}
	h1 {
		line-height: 1.2;
		margin-bottom: 0.6em;
		span.font-body {
			text-transform: uppercase;
			font-size: clamp(3rem, 2.446rem + 2.771vw, 4.5rem);
			display: inline-block;
			transform: translateY(-0.1em);
		}
	}
	.btn-wrap {
		a.button {
			padding: 0.625em 1.421em;
		}
	}
	.img-wrap.cell {
		@include breakpoint(tablet down) {
			padding: 0;
		}
		@include breakpoint(tablet) {
			padding-right: 0;
		}
		> .relative {
			@include flush-right();
			width: 100%;
			@include breakpoint(tablet) {
				width: calc(50vw + 15%);
			}
			@media (min-width: $global-width) {
				width: calc(50vw + 13.33333%);
			}
			@include breakpoint(xlarge) {
				width: calc(50vw + 15% + 8.3333333333%);
			}
			@include breakpoint(xlarge) {
				padding-left: 8.3333333333%;
			}
			img {
				position: absolute;
				width: 100%;
				height: 100%;
				object-fit: cover;
			}
		}
		img.mask {
			position: relative;
			width: 100%;
			height: 100%;
			object-fit: cover;
			margin-top: -.5px;
		}
	}
	.down-arrow {
		width: 48px;
		position: absolute;
		left: 0;
		right: 0;
		bottom: 16px;
		margin: auto;
		svg {
			circle,
			path {
				transition: all .25s ease;
			}
		}
		&:hover {
			svg {
				circle {
					opacity: 1;
				}
				path {
					fill: $color-tan;
				}
			}
		}
	}
}