.image-slider.module {
	.swiper-btn  {
		height: auto;
		width: auto;
		&:after {
			display: none;
		}
		svg {
			path {
				transition: .25s ease;
			}
		}
		&:hover {
			svg {
				path {
					fill: $color-blue;
				}
			}
		}
	}
	figcaption {
		padding: 0 68px;
	}
	.swiper-pagination {
		position: static;
		padding-top: 1rem;
		padding-bottom: .1rem;
		.swiper-pagination-bullet {
			background-color: $dark-gray;
			opacity: 1;
			margin: .5rem;
			transition: background-color .25s ease;
			&:not(.swiper-pagination-bullet-active):hover {
				background-color: $color-blue;
			}
			&.swiper-pagination-bullet-active {
				background-color: $color-red;
			}
		}
	}
	.image-slider-swiper {
		.swiper-container {
			margin: 0 68px;
		}
	}
}