.img-copy-cta {
	.img-wrap {
		padding-left: 0;
		@include breakpoint(mobile down) {
			padding: 0;
		}
		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}
	.right {
		> div {
			padding: 3rem 0;
			padding: clamp(1rem, -0.429rem + 3.81vw, 3rem) 0;
			.btn-wrap {
				padding-top: 14px;
			}
		}
	}
	.bg-tan {
		h2 {
			color: $color-dark-brown;
		}
	}
}